{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Luke's Minerals:{% endblock %}</title>
  <meta name="description" content="Minerals">
  <meta name="author" content="Luke Fisher">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body>
  <div class="left__nav">
      <p class='text-centered'>Browse by mineral group</p>
      <ul>
          {% for group in groups %}
            <li {% if group_name == group %} style="font-weight:bolder;" {% endif %}>
                <a href="{% url 'minerals:group_list' group_name=group %}">{{ group }}</a></li>
          {% endfor %}
      </ul>
  </div>
  
  <div class="bounds">
    <div class="grid-100">
      <a href="{% url 'minerals:list' %}">
        <svg class="logo" viewBox="0 0 127.6 84.8" preserveAspectRation="xMinYMin meet">
          <polygon points="42.7,84.8 49.6,79.4 40,62.5 51.2,43.5 51.2,43.5 25,0 0,55.6 "/>
          <polygon class="logo--middle" points="52.9,79.5 52.9,79.5 84.8,80.1 59.7,35 43.3,62.4 "/>
          <polygon points="127.6,61.4 127.6,61.4 110.3,13.5 110.3,13.5 70.3,48.1 70.3,48.1 88.3,80.5 95.3,81.4 95.3,81.4 "/>
        </svg>
        <h1 class="logo__name text-centered">Luke's Minerals</h1>
      </a>
      <p class="logo__text text-centered">They're not rocks!</p>
      <div class="right__nav">
        <p class="text-centered" style="padding-left:20px;">Search for minerals</p>
        <form class="text-centered" action="{% url 'minerals:search' %}" method="GET">
          <ul>
            <li><input type="search" name="q"></li>
            <li><input type="submit" value="Search"></li>
          </ul>
        </form>
      </div>
      <div class="text-centered">
          {% for character in alphabet %}
            <span class="browse__text" {% if character == letter %} style="font-weight: bolder;"{% endif %}>
                <a href="{% url 'minerals:list' letter=character %}">{{ character }}</a>
            </span>
          {% endfor %}
      </div>
    </div>
    {% block content %}{% endblock %}

  </div>
  <div class="right__nav">
    <p class="text-centered" style="padding-left:20px;">Search for minerals</p>
    <form class="text-centered" action="{% url 'minerals:search' %}" method="GET">
      <ul>
        <li><input type="search" name="q"></li>
        <li><input type="submit" value="Search"></li>
      </ul>
    </form>
  </div>
</body>
</html>